@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@200;300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@200;300;600&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
:root {
  --green: #00e194;
  --blue: #0db4f3;
  --darkblue: #0d6fe5;
  --tirquoise: #05a4c8;
  --tirquoise-opacity: #05a4c877;
  --gray: #545454;
}
body {
  width: 100%;
  overflow-x: hidden !important;
}
.hidden-big-screen {
  display: none !important;
}
.logo {
  height: 60px !important;
}
.logo {
  height: 40px !important;
}
.img {
  width: 100%;
  height: 650px !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0px 100px 280px -65px var(--gray);
}
.short-line{
  width: 90% !important;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}
.content .content-overlay {
  background-color: #05a4c84b;
  backdrop-filter: blur(5px);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
  height: 400px;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}
.carousel-inner {
  overflow: visible !important;
  height: 600px !important;
}
.carousel-item {
  height: 600px !important;
}
.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p {
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom {
  top: 80%;
}

.fadeIn-top {
  top: 20%;
}

.fadeIn-left {
  left: 20%;
}

.fadeIn-right {
  left: 80%;
}

.text-space {
  height: 300px;
}
.carousel-photo {
  position: relative;
  overflow: auto;
  z-index: 10000000;
  height: 650px;
  width: 50rem;
  background-position: center;
  background-size: cover;
  top: -50px;
 
clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);

}
.navbar-toggler:active {
  border: none !important;
}
.mobile-menu {
  position: fixed;
  top: 80px;
  width: 90%;
  /* margin: auto; */
  background-color: #ffffff26;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 5px;
}
.service-card img {
  width: 25% !important;
  margin: auto;
}
.service-card {
  border: 0px !important;
  transition: 0.5s;
}
.service-card:hover {
  box-shadow: 0 0 30px rgba(5, 164, 200, 0.19);
  cursor: pointer;
}
.service-card:hover .read-more-service {
  background: linear-gradient(315deg, var(--darkblue) 0%, var(--blue) 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.burger {
  margin-top: 20px;
  width: 32px;
  height: 24px;
  cursor: pointer;
  right: 2rem;
  top: 2rem;
  z-index: 20;
}
.background-blue {
  background-color: #05a4c83c;
}
.background-green {
  background-color: #00e19229;
}
.background-gray {
  background-color: #6565650b;
}
.background-dark-gray {
  background-color: #252525;
}
.background{
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-slogan{
  position: absolute;

}
.login-slogan h1{
  font-family: 'Blinker';
  font-weight: bolder;
  text-transform: uppercase;
  opacity: 0.5;
  font-size: 100px;
  
}
.login-button {
  width: 250px !important;
  margin-top: 25px !important;

}
.burger span {
  width: 100%;
  height: 4px;
  background-color: var(--tirquoise);
  border-radius: 12px;
  display: block;
  transition: background-color 0.5s ease-in-out;
}
.burger span::before,
.burger span::after {
  content: "";
  width: 100%;
  background-color: var(--tirquoise);
  display: block;
  transition: all 0.5s ease-in-out;
  border-radius: 12px;
  height: 4px;
}

.burger span::before {
  transform: translateY(-10px);
}

.burger span::after {
  transform: translateY(10px);
  margin-top: -4px;
}

.burger.active span {
  background-color: transparent;
}

.burger.active span::before {
  transform: rotateZ(45deg) translateY(0);
}

.burger.active span::after {
  transform: rotateZ(-45deg) translateY(0);
}

.blog-banner {
  height: 300px;
}
.custom-headline {
  font-family: "Blinker";
  margin-top: 150px !important;
}

.gradient-headline {
  font-family: "Blinker";
  font-size: 36px;
  line-height: 40px;
  font-weight: bolder;
  background: linear-gradient(315deg, var(--darkblue) 0%, var(--blue) 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.big-headline {
  font-size: 50px;
}
.custom-paragraph {
  font-size: 18px;
  font-family: "Roboto Condensed";
  font-weight: lighter;
  text-align: justify;
}
.text-gray {
  color: var(--gray);
}

.roboto {
  font-family: "Roboto Condensed" !important;
  font-weight: lighter;
}
.blinker {
  font-family: "Blinker";
  font-weight: bold !important;
}
.modal-image {
  width: 100%;
}
.modal-image-div {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(5, 164, 200, 0.19);
  padding: 30px;
  margin-top: 20px;
  margin-left: -70px;
}
.font-16 {
  font-size: 16px !important;
}
.font-light {
  font-weight: lighter;
}
.font-18 {
  font-size: 18px !important;
}
.font-24 {
  font-size: 24px;
}
.capitalize {
  text-transform: capitalize;
}
.space-between {
  letter-spacing: 3px;
}
.decoration-none {
  text-decoration: none;
}
.gradient-headline:hover {
  background: linear-gradient(315deg, var(--blue) 0%, var(--darkblue) 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.custom-headline h1 {
  margin-bottom: 50px;
  font-size: 100px;
  background: linear-gradient(315deg, var(--blue) 0%, var(--darkblue) 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Blinker";
  font-weight: 600;
}
.custom-headline h3 {
  font-size: 24px;
  color: #fff;
  font-weight: lighter;
  font-family: "Roboto Condensed";
}
.custom-button {
  height: 35px;
  width: 150px;
  color: #fff;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  background-image: linear-gradient(
    315deg,
    var(--blue) 0%,
    var(--darkblue) 74%
  );
  line-height: 42px;
  padding: 0;
  border: none;
}

.custom-button:hover {
  background-color: #89d8d3;
  background-image: linear-gradient(
    315deg,
    var(--darkblue) 0%,
    var(--blue) 74%
  );
}

.custom-button:before,
.custom-button:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.9),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  transition: all 0.3s ease;
}
.custom-button:before {
  height: 0%;
  width: 0.1px;
}
.custom-button:after {
  width: 0%;
  height: 0.1px;
}
.custom-button:hover:before {
  height: 100%;
}
.custom-button:hover:after {
  width: 100%;
}
.link-button {
  text-decoration: none !important;
  text-align: center;
  padding-bottom: 40px;
  margin-top: -3px;
}
.link-button:hover {
  text-decoration: none !important;
}
.link-button-span {
  border-bottom: 4px solid transparent !important;
}
.big-btn {
  background-image: linear-gradient(
    315deg,
    var(--blue) 0%,
    var(--darkblue) 74%
  );
  width: 300px !important;
  font-family: "Roboto Condensed";
  font-size: 20px !important;

  transition: 0.5s;
  display: flex;
}
.btn-mobile {
  background-image: linear-gradient(
    315deg,
    var(--blue) 0%,
    var(--darkblue) 74%
  );
  width: 100px !important;
  margin-top: -30px !important;
  font-family: "Roboto Condensed";
  font-size: 16px !important;

  transition: 0.5s;
  display: flex;
}
.big-btn:hover {
  background-image: linear-gradient(
    315deg,
    var(--darkblue) 0%,
    var(--blue) 74%
  );
}
.custom-headline button {
  height: 60px;
  width: 250px;
  margin-top: 30px;
}

.main-blog {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  border: 1px solid var(--gray);
}
.side-blog {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  border: 1px solid var(--gray);
}
.side-blog-title {
  font-size: 20px !important;
}

.promotion-image {
  width: 90%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

.nav-bar {
  z-index: 1000;
  position: sticky;
}
.custom-link {
  transition: border-width 0.4s linear;
  width: 200px !important;
  padding: 5px;
}
.custom-headline-mobile {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}
.custom-headline-mobile h1 {
  margin-bottom: 30px !important;
}
.custom-headline-mobile h3 {
  font-size: 18px !important;
}
.carousel-photo-mobile {
  background-size: cover;
  background-position: left;
  height: 50vh;
  width: 100vw;
  margin-left: -12px;
  clip-path: polygon(0 79%, 100% 0, 100% 100%, 0 100%);
  position: relative;
  top: -220px;
}
.custom-link:hover {
  border-bottom: 4px solid;
  border-image: linear-gradient(left, var(--blue) 0%, var(--darkblue) 74%);
  border-image: -moz-linear-gradient(
    left,
    var(--blue) 0%,
    var(--darkblue) 74%
  ); /* FF3.6+ */
  border-image: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(0%, var(--blue)),
      color-stop(74%, var(--darkblue))
    )
    1 stretch repeat; /* Chrome,Safari4+ */
  border-image: -webkit-linear-gradient(
      left,
      var(--blue) 0%,
      var(--darkblue) 74%
    )
    1 stretch repeat; /* Chrome10+,Safari5.1+ */
  border-image: -o-linear-gradient(left, var(--blue) 0%, var(--darkblue) 74%) 1
    stretch repeat; /* Opera 11.10+ */
  border-image: -ms-linear-gradient(left, var(--blue) 0%, var(--darkblue) 74%) 1
    stretch repeat; /* IE10+ */
  border-image: linear-gradient(to right, var(--blue) 0%, var(--darkblue) 74%) 1
    stretch repeat; /* W3C */
  border-width: 4px;
}
.button-end {
  display: flex;
  justify-content: flex-end;
}

.visible-content {
  margin-top: -80px;
  margin-left: 10px;
  color: #fff;
}

.card-link {
  text-decoration: none;
}

.card-link:hover .visible-content {
  display: none;
}

.navigation-admin {
  z-index: 1000;
  background-color: #1b1b1b;
}

.custom-carousel {
  font-size: 32px;
}

@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);

.snip {
  font-family: "Blinker";
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 715px;
  width: 100%;
  background: #ffffff;
  text-align: left;
  color: #000000;
  font-size: 16px;
  transition: 0.5s;
  transform: scale(0.97);
}

.decoration-none {
  text-decoration: none !important;
  cursor: pointer;
}

.snip:hover {
  transform: scale(1);
  cursor: pointer;
}

.snip img {
  width: 100%;
  height: 350px;
  vertical-align: top;
  position: relative;
}

.snip figcaption {
  padding-top: 20px;
}

.snip h3,
.snip p {
  margin: 0;
}

.snip h3 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  background: linear-gradient(315deg, var(--darkblue) 0%, var(--blue) 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.snip p {
  font-size: 18px;
  font-family: "Roboto Condensed";
  font-weight: lighter;
}

.regular-product {
  background-color: #f8f8f8;
  border: 1px solid #f8f8f8;
}

.shape-divider {
  margin-top: -50px;
  z-index: 50;
  position: relative;
}
.list a {
  text-decoration: none;
  color: #352430;
  font-size: 16px;
}

.list {
  list-style-type: none;
}

.avatar {
  width: 24px !important;
  height: 24px !important;
}

.postsImageAdmin {
  height: 300px;
  width: 100%;
}

.spacer {
  height: 80px;
}

.footer-logo {
  width: 200px;
  height: auto;
}
.social-media-icons a {
  background-color: #000000dc;
  padding: 10px;
  padding-right: 8px;
  border-radius: 50%;
  box-shadow: 0 0 15px var(--blue);
}
.social-media-icons a img {
  width: 90%;
  height: auto;
}
.social-media-icons a:hover {
  box-shadow: 0 0 30px var(--blue);
}
.list-decoration {
  list-style-type: none;
}
.footer-headline {
  margin-left: 30px;
}
.title-space {
  height: 450px;
}
.title-style {
  position: relative;
  height: 150px;
  background-color: #05a4c84b;
  padding-left: 30px;
  padding-top: 5px;
  transition: 0.5s;
}

.title-space-small {
  height: 170px;
}
.title-style-small {
  position: relative;
  height: 129px;
  background-color: #05a4c84b;

  cursor: pointer;
  padding-left: 30px;
  padding-top: 5px;
}

.title-style hr,
.title-style-small hr {
  height: 4px;
  width: 20%;
  border-width: 0;

  background: white;
  opacity: 1;
}
.main-blog:hover .title-style,
.side-blog:hover .title-style-small {
  backdrop-filter: blur(5px);
  transition: 0.5s;
  cursor: pointer;
}
.main-blog:hover,
.side-blog:hover {
  cursor: pointer;
}
.tag {
  background-color: var(--darkblue);
  width: 150px !important;
  color: #fff;
  font-size: 16px;
  font-family: "Blinker";
  letter-spacing: 2px;
  font-weight: bolder;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.tag-line {
  height: 4px;
  width: 20%;
  border-width: 0;

  margin-right: 20px;
  background: var(--darkblue);
  opacity: 1;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: var(--darkblue) !important;
  border-radius: 0% !important;
  border-color: var(--darkblue) !important;
  color: #fff !important;
  font-family: "Blinker";
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 2px;
  font-weight: 900;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  color: var(--darkblue) !important;
  border-radius: 0% !important;
  font-family: "Blinker";
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 900;
}
.nav-tabs{
  border-bottom: 4px solid var(--darkblue) !important;
}
.author {
  display: flex;
}
.snip-line {
  color: var(--darkblue);
}
.news-post-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.news-post h3 {
  text-transform: uppercase;
  background: linear-gradient(315deg, var(--darkblue) 0%, var(--blue) 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.single-blog-cover {
  width: 100%;
  height: 300px;
}
.blog-body {
  text-align: justify;
}
.blog-body h4 {
  font-family: "Blinker";
  text-transform: uppercase;
  font-weight: bolder;
  background: linear-gradient(315deg, var(--darkblue) 0%, var(--blue) 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blog-title {
  margin-top: 30px !important;
  margin-top: 30px !important;
  background: linear-gradient(315deg, var(--darkblue) 0%, var(--blue) 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Blinker";
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 50px;
  line-height: 45px;
}
.product-title {
  font-family: "Blinker";
  font-weight: 700;
  font-size: 75px;
  color: var(--blue);
}
.blog-author,
.blog-body p {
  font-family: "Roboto Condensed";
  font-size: 19px;
  color: var(--gray);
  font-weight: lighter;
}
.product-view {
  padding-top: 50px;
  min-height: 100vh;
}
.product-image {
  margin-top: 70px;
  height: 60vh;
  width: 60vh;
  object-fit: cover;
  object-position: center;
  -moz-box-shadow: 103px -99px 0px -45px rgba(196,234,242,1);
  box-shadow: 103px -99px 0px -45px #f8f8f8;
}

.product-price {
  font-size: 22px;
  font-family: "Roboto Condensed";
  font-weight: lighter;
}

.product-body ul {
  font-family: "Roboto Condensed";
  font-weight: lighter;
  list-style: none;
  margin-left: -32px;
  height: 40vh;
}
.product-body img {
  margin-right: 20px;
  margin-top: -5px;
}
.product-item {
  margin-top: 10px;
  font-size: 20px;
  font-family: "Roboto Condensed";
  font-weight: lighter;
}
.product-button {
  width: 40%;
}

.edit-button {
  background: rgb(12, 110, 69);

  background: linear-gradient(
    143deg,
    rgb(12, 110, 69) 38%,
    rgb(103, 244, 192) 100%
  );
  width: 80px;
}
.edit-button:hover {
  background: linear-gradient(
    143deg,
    rgb(103, 244, 192) 38%,
    rgb(12, 110, 69) 100%
  );
}
.delete-button {
  background: rgb(242, 232, 236);
  background: linear-gradient(
    143deg,
    rgb(204, 61, 177) 38%,
    rgb(229, 177, 142) 100%
  );
  width: 80px;
}
.delete-button:hover {
  background: linear-gradient(
    143deg,
    rgb(229, 177, 142) 38%,
    rgb(204, 61, 177) 100%
  );
}
.save-changes-button {
  width: 130px;
}
.hidden-modal {
  display: none;
}
.ticket-image {
  width: 100%;
  height: auto;
}

.ticket-image-div {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 0 30px rgba(5, 164, 200, 0.19);
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: -70px;
}

/* CREDIT CARD IMAGE STYLING */

#ccsingle {
  position: absolute;
  right: 15px;
  top: 20px;
}

#ccsingle svg {
  width: 100px;
  max-height: 60px;
}

.creditcard svg#cardfront,
.creditcard svg#cardback {
  width: 100%;
  -webkit-box-shadow: 1px 5px 6px 0px black;
  box-shadow: 1px 5px 6px 0px black;
  border-radius: 22px;
}

#generatecard {
  cursor: pointer;
  float: right;
  font-size: 12px;
  color: #fff;
  padding: 2px 4px;
  background-color: #909090;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* CHANGEABLE CARD ELEMENTS */
.creditcard .lightcolor,
.creditcard .darkcolor {
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s;
}

/* FRONT OF CARD */
#svgname {
  text-transform: uppercase;
}

#cardfront .st2 {
  fill: #ffffff;
}

#cardfront .st3 {
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
}

#cardfront .st4 {
  font-size: 54.7817px;
}

#cardfront .st5 {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
}

#cardfront .st6 {
  font-size: 33.1112px;
}

#cardfront .st7 {
  opacity: 0.6;
  fill: #ffffff;
}

#cardfront .st8 {
  font-size: 24px;
}

#cardfront .st9 {
  font-size: 36.5498px;
}

#cardfront .st10 {
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
}

#cardfront .st11 {
  font-size: 16.1716px;
}

#cardfront .st12 {
  fill: #4c4c4c;
}

/* BACK OF CARD */
#cardback .st0 {
  fill: none;
  stroke: #0f0f0f;
  stroke-miterlimit: 10;
}

#cardback .st2 {
  fill: #111111;
}

#cardback .st3 {
  fill: #f2f2f2;
}

#cardback .st4 {
  fill: #d8d2db;
}

#cardback .st5 {
  fill: #c4c4c4;
}

#cardback .st6 {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
}

#cardback .st7 {
  font-size: 27px;
}

#cardback .st8 {
  opacity: 0.6;
}

#cardback .st9 {
  fill: #ffffff;
}

#cardback .st10 {
  font-size: 24px;
}

#cardback .st11 {
  fill: #eaeaea;
}

#cardback .st12 {
  font-family: "Rock Salt", cursive;
}

#cardback .st13 {
  font-size: 37.769px;
}

/* FLIP ANIMATION */
.container {
  perspective: 1000px;
}

.creditcard-image-div {
  background-color: transparent;
  border-radius: 25px;

  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: -70px;
}

.card-background-color {
  background-color: var(--blue);
}
.next-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.back-add-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.custom-margin-left {
  margin-left: -12px;
}
.custom-margin-right {
  margin-right: -12px;
}
.submit-button {
  margin-top: 55px !important;
}

.creditcard {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.creditcard.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}
#custom-card-back {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.creditcard svg#cardfront,
.creditcard svg#cardback {
  width: 100%;
  box-shadow: 1px 5px 6px 0px rgba(5, 164, 200, 0.564);
  border-radius: 22px;
}
.white-headline {
  color: white;
}

.hero {
  padding: 7rem 0 10rem 0;
  background: #6998ab;
  margin-bottom: 100px;
}
.hero.hero-inner {
  padding: 9rem 0 7rem 0;
  margin-bottom: auto;
  background: #1a374d;
}
.hero h1 {
  color: #ffffff;
  font-size: 60px;
}
@media (max-width: 991.98px) {
  .hero h1 {
    font-size: 45px;
  }
}
.hero h1 .typed-words {
  position: relative;
}
.hero h1 .typed-words:before {
  position: absolute;
  height: 7px;
  background-color: #b1d0e0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
}
.hero .intro-wrap {
  position: relative;
  z-index: 1;
}
.hero .slides {
  background: #ffffff;
  max-width: 800px;
  left: -100px;
  z-index: 0;
  position: relative;
  border-radius: 200px;
  -webkit-box-shadow: 0 25px 50px -10px rgba(26, 55, 77, 0.4);
  box-shadow: 0 25px 50px -10px rgba(26, 55, 77, 0.4);
  height: 608px;
  margin-bottom: -200px;
}
@media (max-width: 991.98px) {
  .hero .slides {
    left: 0;
  }
}
.hero .slides img {
  position: absolute;
  border-radius: 200px;
  opacity: 0;
  -webkit-transition: 4s opacity ease;
  -o-transition: 4s opacity ease;
  transition: 4s opacity ease;
  background: #ffffff;
}
.hero .slides img.active {
  opacity: 1;
  z-index: 1;
}
.search-bar{
  background-color: #f8f8f8;
  border-radius: 7px;
  color: var(--darkblue);
  font-family: 'Roboto Condensed'; 
}
.custom-border-right{
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.custom-border-left{
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
@media (max-width: 920px) {
  .hidden-big-screen {
    display: block !important;
  }
  .hidden-small-screen {
    display: none !important;
  }
  .carousel {
    height: 600px !important;
    margin-top: -100px !important;
  }
  .custom-headline h1 {
    font-size: 55px;
  }
  .custom-headline h3 {
    font-size: 20px;
  }
  .content {
    margin-top: 50px;
  }
  .modal-image-div {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(5, 164, 200, 0.19);
    width: 300px;
    margin-left: 0px;
  }
  .custom-modal-mobile {
    width: 96vw !important;
  }

  .social,
  .polices,
  .quick-links,
  .contant {
    text-align: center;
    margin-left: -20px !important;
  }
  .social-media-icons {
    margin-left: 15vw !important;
  }
  .tag-line {
    width: 80vw !important;
  }
  .blog-container {
    overflow: hidden;
  }
  .side-blog-title {
    font-size: 18px !important;
  }
  .side-blog {
    height: 250px;
  }
  .title-style-small {
    padding-left: 10px;
    height: 150px;
  }
  .title-space-small {
    height: 100px;
  }
  .snip-small{
    font-family: "Blinker";
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 20px;
    max-width: 200px;
    width: 100%;
    background: #ffffff;
    text-align: left;
    color: #000000;
    font-size: 12px;
    transition: 0.5s;
    transform: scale(0.97);
  }
  .snip-small h3{
    font-size: 16px;
    background: linear-gradient(315deg, var(--darkblue) 0%, var(--blue) 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Blinker";
    text-transform: uppercase;
    font-weight: bolder;
  }
  .snip-small img {
    width: 100%;
    height: 100px;
    vertical-align: top;
    position: relative;
    object-fit: cover;
    object-position: center;
  }
  .snip-small .snip-line{
    margin-top: -2px;
    margin-bottom: 2px;
  }
  .snip-small p{
    font-size: 14px;
  }
}
