@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@200;300;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@200;300;600&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
:root {
  --green: #00e194;
  --blue: #0db4f3;
  --darkblue: #0d6fe5;
  --tirquoise: #05a4c8;
  --tirquoise-opacity: #05a4c877;
  --gray: #545454;
}
body{
  width: 100%;
  overflow-x: hidden !important;
}
.hidden-big-screen{
  display: none !important;
}
.logo{
  height: 60px !important;
}
.img {
  width: 100%;
  height: 650px !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
  box-shadow: inset 0px 100px 280px -65px var(--gray);
}

*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}
.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}
.content .content-overlay {
  background-color: #05a4c84b;
  backdrop-filter: blur(5px);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
  height: 400px;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}

.carousel {
  height: 500px !important;
  margin-top: -100px;
  position: fixed;
  margin-bottom: 150px;
}
.navbar-toggler:active{
  border:none !important;
}
.mobile-menu{
  position: fixed;
  top: 80px;
  width: 90%;
  /* margin: auto; */
  background-color: #ffffff26;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 5px;

}
.service-card img{
  width: 25% !important;
  margin:auto;
 
}
.service-card{
  border: 0px !important;
  transition: .5s;

}
.service-card:hover{
  box-shadow: 0 0 30px rgba(5,164,200,0.19);
  cursor: pointer;
}
.service-card:hover .read-more-service{
  background: linear-gradient(315deg, var(--darkblue) 0%, var(--blue) 74%);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.burger {
  margin-top: 20px;
  width: 32px;
  height: 24px;
  cursor: pointer;
  right: 2rem;
  top: 2rem;
  z-index: 20;
}
.background-blue{
  background-color: #05a4c83c;
  

}
.background-green{
  background-color: #00e19229;
}
.background-gray{
  background-color: #6565650b;
}
.burger span {
  width: 100%;
  height: 4px;
  background-color: var(--tirquoise);
  border-radius: 12px;
  display: block;
  transition: background-color 0.5s ease-in-out;
}
.burger span::before,
.burger span::after {
  content: "";
  width: 100%;
  background-color: var(--tirquoise);
  display: block;
  transition: all 0.5s ease-in-out;
  border-radius: 12px;
  height: 4px;
}

.burger span::before {
  transform: translateY(-10px);

}

.burger span::after {
  transform: translateY(10px);
  margin-top: -4px;
}


.burger.active span {
  background-color: transparent;
}

.burger.active span::before {
  transform: rotateZ(45deg) translateY(0);
}

.burger.active span::after {
  transform: rotateZ(-45deg) translateY(0);
}

.blog-banner {
  height: 300px;
}
.custom-headline{
  font-family: 'Blinker';
  margin-top: 250px !important;
  text-align: center;
}

.gradient-headline{
  font-family: 'Blinker';
  font-size: 36px;
  line-height: 40px;
  font-weight: bolder;
  background: linear-gradient(315deg, var(--darkblue) 0%, var(--blue) 74%);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.big-headline{
  font-size: 50px;
}
.custom-paragraph{
  font-size: 18px;
  font-family: 'Roboto Condensed';
  font-weight: lighter;
  text-align: justify;
}
.text-gray{
  color: var(--gray)
}
.roboto{
  font-family: 'Roboto Condensed' !important;
  font-weight: lighter;
}
.blinker{
  font-family: 'Blinker';
  font-weight: bold !important;
}
.modal-image{
  width: 100%;

}
.modal-image-div{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(5,164,200,0.19);
  padding: 30px;
  margin-top: 20px;
  margin-left: -70px;
}
.font-16{
  font-size: 16px !important;
}
.font-light{
  font-weight: lighter;
}
.font-18{
  font-size: 18px !important;
}
.font-24{
  font-size: 24px;
}
.capitalize{
  text-transform: capitalize;
}
.space-between{
  letter-spacing: 3px;
}
.decoration-none{
  text-decoration: none;
}
.gradient-headline:hover{
  background: linear-gradient(315deg, var(--blue) 0%, var(--darkblue) 74%);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.custom-headline h1{
  margin-bottom: 50px;
  font-size: 70px;
  color: #fff;
  font-family: 'Blinker';
  font-weight: 600;
}
.custom-headline h3 {
  font-size: 24px;
  color: #fff;
  font-size: 22px;
  font-weight: lighter;
  font-family: 'Roboto Condensed';
}
.custom-button {
  height:35px;
  width: 150px;
  color: #fff;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  background-image: linear-gradient(315deg, var(--blue) 0%, var(--darkblue) 74%);
  line-height: 42px;
  padding: 0;
  border: none;
}

.custom-button:hover{
  background-color: #89d8d3;
background-image: linear-gradient(315deg, var(--darkblue)  0%, var(--blue) 74%);
}

.custom-button:before,
.custom-button:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
   box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  transition: all 0.3s ease;
}
.custom-button:before {
  height: 0%;
  width: .1px;
}
.custom-button:after {
  width: 0%;
  height: .1px;
}
.custom-button:hover:before {
  height: 100%;
}
.custom-button:hover:after {
  width: 100%;
}
.link-button{
  text-decoration: none !important;
  text-align: center;
padding-bottom: 40px;
margin-top: -3px;
}
.link-button:hover{
  text-decoration: none !important;
}
.link-button-span{
  border-bottom: 4px solid transparent !important;
 
}
.big-btn{
  background-image: linear-gradient(315deg, var(--blue) 0%, var(--darkblue) 74%);
  width: 100%;
  font-family: 'Roboto Condensed';
  font-size: 20px !important;
  margin: auto;
  transition: .5s;
}
.big-btn:hover{
  background-image: linear-gradient(315deg, var(--darkblue) 0%, var(--blue) 74%);
}
.custom-headline button{
  height: 60px;
  width: 250px;
  margin-top: 30px;

}
.main-blog{
  width: 100%;
  height: 600px; 
  background-size: cover;
  background-position: center;
  border: 1px solid var(--gray)
}
.side-blog{
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  border: 1px solid var(--gray)
}
.blog-container-banner{
  margin-top: -100px;
}
.promotion-image{
  width: 90%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

.nav-bar{  
  z-index: 1000;
  position: sticky;

}
.custom-link{
  transition: border-width 0.4s linear;
  width: 200px !important;
  padding: 5px;
}

.custom-link:hover{
  border-bottom: 4px solid;
  border-image: linear-gradient(left, var(--blue) 0%, var(--darkblue) 74%);
  border-image: -moz-linear-gradient(left,var(--blue) 0%, var(--darkblue) 74%); /* FF3.6+ */
  border-image: -webkit-gradient(linear, left top, right top, color-stop(0%,var(--blue)), color-stop(74%,var(--darkblue))) 1 stretch repeat; /* Chrome,Safari4+ */
  border-image: -webkit-linear-gradient(left, var(--blue) 0%, var(--darkblue) 74%) 1 stretch repeat; /* Chrome10+,Safari5.1+ */
  border-image: -o-linear-gradient(left, var(--blue) 0%, var(--darkblue) 74%) 1 stretch repeat; /* Opera 11.10+ */
  border-image: -ms-linear-gradient(left, var(--blue) 0%, var(--darkblue) 74%) 1 stretch repeat; /* IE10+ */
  border-image: linear-gradient(to right, var(--blue) 0%, var(--darkblue) 74%) 1 stretch repeat; /* W3C */
 border-width:  4px; 

}

@media (max-width: 920px) {
  .hidden-big-screen{
    display: block !important;
  }
  .hidden-small-screen{
    display: none !important;
  }
  .carousel {
    height: 600px !important;
    margin-top: -100px !important;
  
  }
  .custom-headline h1{
    font-size: 55px;
  }
  .custom-headline h3{
    font-size: 20px;
  }
}

.visible-content{
  margin-top: -80px;
  margin-left: 10px;
  color: #fff;

}


.card-link{
  text-decoration: none;
}

 .card-link:hover .visible-content{
  display: none;
}


.navigation-admin {
  z-index: 1000;
  background-color: #352430;
}


.custom-carousel {
  font-size: 32px;
}

.background-color {
  border: 1px solid #ffcee9;
  box-shadow: 0px 0px 52px 14px rgba(255, 206, 233, 1);
  -webkit-box-shadow: 0px 0px 52px 14px rgba(255, 206, 233, 1);
  -moz-box-shadow: 0px 0px 52px 14px rgba(255, 206, 233, 1);
  
}

@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);

.snip1418 {
  font-family: 'Blinker';
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 715px;
  width: 100%;
  background: #ffffff;
  text-align: left;
  color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-perspective: 20em;
  perspective: 20em;
}

.snip1418 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.snip1418 img {
  width: 100%;
  height: 350px;
  vertical-align: top;
  position: relative;
}

.snip1418 figcaption {
  padding: 20px;


}

.snip1418 h3,
.snip1418 p {
  margin: 0;
}

.snip1418 h3 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  background: linear-gradient(315deg, var(--darkblue) 0%, var(--blue) 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.snip1418 p {
  font-size: 18px;
  font-family: 'Roboto Condensed';
  font-weight: lighter;
}

.snip1418 .price {
  font-weight: 500;
  font-size: 1.5em;
  line-height: 48px;
  letter-spacing: 1px;
}

.snip1418 .price s {
  margin-right: 5px;
  opacity: 0.5;
  font-size: 0.9em;
}
.shape-divider{
  margin-top: -50px;
  z-index: 50;
  position: relative;
}
.list a {
  text-decoration: none;
  color: #352430;
  font-size: 16px;
}

.list {
  list-style-type: none;
}

.background-regular {
  background-color: #ffcee96c;
}

.postsImageAdmin {
  height: 300px;
  width: 450px;
}

.spacer {
  height: 80px;
}

footer {


  bottom: 0;

  left: 0;

  right: 0;

  background: #2c1e27;

  height: auto;

  width: 100vw;

  padding-top: 40px;

  color: #fff;
}

.footer-content {
  display: flex;

  align-items: center;

  justify-content: center;

  flex-direction: column;

  text-align: center;
}

.footer-content h3 {
  font-size: 2.1rem;

  font-weight: 500;

  text-transform: capitalize;

  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;

  margin: 10px auto;

  line-height: 28px;

  font-size: 14px;

  color: #cacdd2;
}

.socials {
  list-style: none;

  display: flex;

  align-items: center;

  justify-content: center;

  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;

  color: #fff;

  padding: 5px;
}

.socials a i {
  font-size: 1.1rem;

  width: 20px;

  transition: color 0.4s ease;
}

.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background: #000;

  width: 100vw;

  padding: 20px;

  padding-bottom: 40px;

  text-align: center;
}

.footer-bottom p {
  float: left;

  font-size: 14px;

  word-spacing: 2px;
}

.footer-bottom p a {
  color: #ccc;

  font-size: 16px;

  text-decoration: none;
}

.footer-bottom span {
  text-transform: uppercase;
}

.footer-menu {
  float: right;
}

.footer-menu ul {
  display: flex;
}

.footer-menu ul li {
  padding-right: 10px;

  display: block;
}

.footer-menu ul li a {
  color: #cfd2d6;

  text-decoration: none;
}

.footer-menu ul li a:hover {
  color: #27bcda;
}

@media (max-width: 500px) {
  .footer-bottom p {
    float: none;
  }

  .footer-menu ul {
    display: flex;

    margin-top: 10px;

    margin-bottom: 20px;

    text-align: center;
  }
}